<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 파일 경로 변수 정의 -->
    <property name="LOG_PATH" value="C:/CRUZLINK_NEXT_LOG/test/tcp"/>
    <property name="LOG_MAX_HISTORY" value="7"/>

    <!-- 콘솔 출력용 로그 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%-5level][%-36thread][%-30(%logger{0}:%line)][%msg]%n</pattern>
        </encoder>
    </appender>

    <!-- 어댑터 로그 설정 -->
    <appender name="serverLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/cruzlink-tcp.log</file>
        <!-- 하루 단위로 rolling  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 백업 파일 이름 형식 지정 -->
            <fileNamePattern>${LOG_PATH}/cruzlink-tcp.log.%d{yyyyMMdd}</fileNamePattern>
            <!-- 백업 파일 유지 기간 설정 -->
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%-5level][%-36thread][%-30(%logger{0}:%line)][%msg]%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="serverLog"/>
    </root>
</configuration>